* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: steelblue;
  color: white;
  min-height: 10vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5em;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: white;
}
form input {
  border-radius: 4px 0px 0px 4px;
}
form button {
  color: rgb(49, 104, 148);
  cursor: pointer;
  background: white;
  transition: 0.3s ease-in-out;
  border-radius: 0px 4px 4px 0px;
}
form button:hover {
  background: rgb(49, 104, 148);
  color: white;
}
.todoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoList {
  min-width: 30%;
  list-style: none;
}
.todoListItemdiv {
  margin: 0.4rem;
  background: white;
  color: black;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoItem {
  flex: 1;
}
.checkedButton,
.deleteButton {
  cursor: pointer;
  background: rgb(243, 89, 42);
  color: white;
  padding: 1rem;
  font-size: 1rem;
}
.checkedButton {
  background: rgb(47, 189, 47);
}
